<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- web dev simplied on youtube via github -->

<head>
  <title>New Post</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body class="blogPostBody">

  <header>

    <nav id="indexNav">
      <ul>
        <li><a href="/index" class="button btn btn-outline-dark">Home</a></li>
        <li><a href="/emergency" class="button btn btn-outline-dark">Emergency</a></li>
        <li><a href="/mission" class="button btn btn-outline-dark">Mission</a></li>
        <li><a href="/signup" class="btn btn-outline-dark">Sign Up</a></li>
        <li><a href="/profile" class="button btn btn-outline-dark">Profile</a></li>
        <li><a href="/resources" class="button btn btn-outline-dark">Resources</a></li>
      </ul>
    </nav>

  </header>

  <br>
  <br>
  <br>
  <br>



  <div class="container">
    <h1 class="mb-4">Most Recent Blog Post</h1>
    <a href="/newarticle" class="btn btn-outline-dark">Make New Post</a>

    <!-- worked with Trek Mentor to further understand how this connects back to the DB-->
    <!-- each article posted -->
    <% article.forEach(newarticle => { %>
    <!-- this connects to the db on mongo, make sure that the collection key value pairs match up to the js variables -->
    <div class="card mt-4">

      <!-- first blog post -->
      <div class="card-body">
        <h4 class="card-title"><%= newarticle.title %></h4>
        <div class="card-subtitle text-muted mb-2">
          <%= newarticle.createdAt %>
        </div>
        <div class="card-text mb-2"><%= newarticle.description %></div>


        <form action="/blogposting/<%= newarticle._id %>" method="DELETE" class="d-inline">
          <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>

        <a href="/edit/<%= newarticle._id %>" class="btn btn-outline-dark">Edit</a>


        <a href="/blogpersonal/<%= newarticle._id %>" class="btn btn-outline-dark">Read More</a>


      </div>
    </div>
    <% }) %>

  </div>

  <br>
  <br>
  <br>


  <!-- disclaimer/emergency -->
  <div class="col-sm-12" id="grand">
    <span> Disclaimer: </span>
    Empowering the Military Mind is not a crisis intervention resource,

    I do encourage you in the event of an emegency or crisis please
    call 911 or the National Suicide Prevention Hotline.

    <br>IF THIS IS AN EMEGENCY <br>
    If you’re thinking about suicide, are worried about a friend or loved one,
    or would like emotional support, the Lifeline network is available
    24/7 across the United States.

    <a href="https://suicidepreventionlifeline.org/talk-to-someone-now/">Talk to someone now.</a>
  </div>

  <br>
  <br>
  <br>
  <br>


  <!-- Footer -->
  <footer id="footer">
    <div class="founderInfo">
      <h2 id="email2">Contact Miggie Garcia, Founder</h2>
      <ul class="icons">
        <li><a href="https://twitter.com/miggiegarciadev" class="icon brands twitter"><span class="label">Twitter</span></a></li>
        <li><a href="http://www.miggiegarciadev.com/" class="icon brands portfolio"><span class="label">Portfolio</span></a></li>
        <li><a href="https://www.linkedin.com/in/miggiegarcia/" class="icon brands linkedin"><span class="label">Linked In</span></a></li>
        <li><a href="https://github.com/miggiegarciadev" class="icon brands github"><span class="label">GitHub</span></a></li>
        <li><a href="mailto:miggiegarciadev@gmail.com" class="icon brands email"><span class="label">Email</span></a></li>
      </ul>
    </div>
  </footer>

</body>

</html>
