<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Edit</title>
</head>

<body id="editBod">

  <nav id="indexNav">

    <a href="/index" class="btn btn-outline-dark">Home</a>
    <a href="/emergency" class="btn btn-outline-dark">Emergency</a>
    <a href="/mission" class="btn btn-outline-dark" href="">Mission</a>
    <a href="/blogposting" class="btn btn-outline-dark">Make a post</a>

    <a href="/resources" class="btn btn-outline-dark">Resources</a>
    <a href="/logout" class="btn btn-outline-dark">Logout</a>

  </nav>





  <div class="container">
    <h1 class="mb-4">Edit Blog Post</h1>

    <h2> <%= article.title %> </h2>

    <form action="/updateArticle" method="POST">
      <div>
        <label for="username">User Email:</label>
        <input type="text" value="<%= user.local.email %>" name="name">
        <br>
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" required value="<%= article.title %>">
      </div>

      <p></p>
      <p></p>

      <div>
        <label for="title"> Quick Caption or Hashtags</label>
        <input type="text" name="description" id="title" class="form-control" required value="<%= article.description %>">
      </div>

      <div>
        <label for="title"> Blog Post </label>
        <textarea name="blogpost" id="blogpost" cols="30" rows="10" class="form-control"> <%= article.bpost %> </textarea required></text>
      </div>

      <input type="hidden" name="articleid" value="<%= article._id %>">

      <button type="submit">Save</button>
    </form>



  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


    <!-- disclaimer/emergency -->
        <div class="col-sm-12" id="grand">
         <span> Disclaimer: </span>
            Empowering the Military Mind is not a crisis intervention resource,

              I do encourage you in the  event of an emegency or crisis please
              call 911 or the National Suicide Prevention Hotline.

            <br>IF THIS IS AN EMEGENCY <br>
            If you’re thinking about suicide, are worried about a friend or loved one,
            or would like emotional support, the Lifeline network is available
            24/7 across the United States.

            <a href="https://suicidepreventionlifeline.org/talk-to-someone-now/">Talk to someone now.</a>
        </div>

        <br>
        <br>
        <br>
        <br>

  <!-- Footer -->
  <footer>

  </footer>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>


</body>
</html>
