<!doctype html>
<html>

<head>
  <title>Empower & Elevate</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/main.css">

</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Profile Page</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="col-4 site-logo">
      <a href="/#second" class="text-black h2 mb-0">Empowering the Military Mind</a>
    </div>

    <nav class="site-navBar">
      <ul class="ulofnavbar" id="green">
			<li><a href="/index" class="button primary">Home</a></li>
			<li><a href="/emergency" class="button primary">Emergency</a></li>
			<li><a href="/#first" class="button primary">Mission</a></li>
			<li><a href="/blogposting" class="button primary">Make a post</a></li>
      <li><a href="/blog" class="button primary">Blog</a></li>
			<li><a href="/resources" class="button primary">Resources</a></li>
      </ul>
    </nav>


    <div class="row">
      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> User Profile Information</h3>

          <!-- PROFILE PHOTO UPLOAD & DELETE FEATURES -->
          <div class="wrapper">
            <input type="file" name="userPhoto" id="image-upload" class="my_file" />
            <input type="hidden" name="deleteuserPhoto" value="1" />
          </div>

          <!-- LOGGING INFO TO -->
          <% if (user.local.email) { %>
          <p>
            <strong>id</strong>: <%= user._id %><br>
            <strong>email</strong>: <%= user.local.email %><br>
            <strong>password</strong>: <%= user.local.password %>
          </p>

          <a href="/unlink/local" class="btn btn-default">Unlink</a>
          <% } else { %>
          <a href="/connect/local" class="btn btn-default">Connect Local</a>
          <% } %>

        </div>


      </div>
      <div class="col-sm-6">
        <h3>Messages</h3>
        <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
          <li class="message">
            <span><%= messages[i].name %></span>
            <span><%= messages[i].msg %></span>
            <span><%= messages[i].thumbUp %></span>
            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
            <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
          </li>
          <% } %>
        </ul>

        <h2>Add a message</h2>
        <% if (user.local.email) { %>
        <form action="/messages" method="POST">
          <input type="text" value="<%= user.local.email %>" name="name">
          <input type="text" placeholder="message" name="msg">
          <button type="submit">Submit</button>
        </form>
      </div>
      <% } %>

    </div>

    <script src="main.js"></script>

</body>

</html>
